{{ $baseUrl := .Site.BaseURL }}

<div>
  <div id="sidebar-background" class="sidebar-background">
  </div>

  <div class="header-title">

    {{ if not .IsHome }}

    <div class="avatar-container">
      <a href="{{ $baseUrl }}">
        <img class="avatar" src="{{ $baseUrl }}img/avatar.png" alt="Avatar">
      </a>
    </div>

    {{ end }}

    <div class="title-container">
      {{ if .IsHome }}
        <span class="title"></span>
      {{ else }}
        <span class="title">Elad Gariany</span>
      {{ end }}
    </div>

    <div class="tagline-container">

      {{ if not .IsHome }}

      <p class="tagline">
        Hi I'm Elad, entrepreneur, artist and software engineer based in the San Francisco Bay Area.
      </p>

      {{ end }}

      <div class="tagline">
        <p class="sidebar-btn"><a href="/about">About</a></p>
        <p class="sidebar-btn"><a href="/contact">Write To Me</p>
      </div>
    </div>

    <div class="navigation-container">
      <!-- category list -->

      {{ if not .IsHome }}
        {{ partial "sidebar/categories.html" . }}
      {{ end }}

    </div>

  </div>
</div>

<script type="text/javascript">

window.onscroll = function() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("sidebar-background").className = "sidebar-background sidebar-hide";
  } else {
    document.getElementById("sidebar-background").className = "sidebar-background";
  }
}

</script>