{{ $isHome := true }}

<!DOCTYPE html>
<html>

  {{- partial "html-head.html" . -}}

  <body>
    <div class="row">

      <div class="col-xs-2">
        <div class="sidebar-left">
          {{ partial "sidebar/left.html" . }}
        </div>
      </div>

      <div class="col-xs-8">
        <div class="content">
          {{- block "main" . -}}
          {{- end -}}
        </div>
      </div>

      <div class="col-xs-2">
        <div class="sidebar-right">
          {{ partial "sidebar/right.html" . }}
        </div>
      </div>

    </div>
  </body>
</html>