{{ define "main" }}

  {{ $baseUrl := .Site.BaseURL }}
  
  <article class="list">

    <div>
      <div class="posts-title">{{ .Type | humanize }}: {{ .Title | humanize }}</div>
      <hr style="margin-bottom: 2em;">
    </div>

    <ul class="posts-list">
      {{ range $index, $element := .Paginator.Pages }}
        <li class="posts-list-item">

          {{ if (isset .Params "external_url")}}
            <a href="{{ .Params.external_url }}">{{ .Title }}</a>
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}

          <div>
            <span class="posts-list-item-description">
              Published at: {{ .PublishDate.Format "Jan 2, 2006" }}
      
              posted under:

                {{ range $key, $value := .Params.tags }}
                  <a class="posts-list-tags" href="{{ $baseUrl }}tags/{{ . }}">#{{ $value | humanize }}</a>
                {{ end }}
            </span>
          </div>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" $ }}
    
  </article>

{{ end }}