{{ define "main" }}

  <article>
    <div class="card">
      <div class="card-body">

        {{ if isset .Params "static" }}
        {{ else }}
          <div class="post-header">
            {{ .Date.Format "January 2, 2006" }} &nbsp;
            {{ .ReadingTime }}min read
            <hr style="margin-top: 1em; margin-bottom: 1em;">
          </div>        
        {{ end }}

        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
    </div>

    {{ if isset .Params "dont_show_comments" }} 
    {{ else }}
      {{ partial "comments.html" }}
    {{ end }}

  </article>

{{ end }}