{{ define "main" }}

  <article class="post">
    <div class="card">
      <div class="card-body">

        {{ if isset .Params "is_site_static_page" }}
        {{ else }}
          <div class="posts-list-item-description">
            {{ partial "icons/date_clock_icon.html" }} {{ .Date.Format "January 2, 2006" }} &nbsp;
            <hr style="margin-top: 1em; margin-bottom: 1em;">
          </div>
        {{ end }}

        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
    </div>

    {{ if isset .Params "dont_show_comments" }}
    {{ else }}
      {{ partial "article/comments.html" }}
    {{ end }}

  </article>

{{ end }}