{{ $baseUrl := .Site.BaseURL }}

{{ range .Data.Pages.GroupByDate "2006" -}}    
<ul class="posts-list">
  
  <div class="posts-title site-date-catalog">{{ .Key }}</div>

    {{ range .Pages -}}

      {{ if not .Params.static }}

      <li class="posts-list-item">
        > <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div>
          <span class="posts-list-item-description">
            Published at: {{ .PublishDate.Format "Jan 2, 2006" }}
            {{ .ReadingTime }} min read

            {{ if isset .Params "tags" }} 

              posted under:

              {{ range $key, $value := .Params.tags }}
                <a class="posts-list-tags" href="{{ $baseUrl }}tags/{{ . }}">#{{ $value | humanize }}</a>
              {{ end }}

            {{ end }}
          </span>
        </div>
      </li>
      {{ end }}
    {{ end }}
</ul>
{{ end }}