{{ $baseUrl := .Site.BaseURL }}

<div>



  <video id="video-background" class="video-background" no-controls autoplay loop src="{{ $baseUrl }}background.mp4" poster="{{ $baseUrl }}background.png"></video>

  <div class="header-title">
    
    <div>
      <a href="{{ $baseUrl }}">
        <img class="avatar" src="{{ $baseUrl }}img/avatar4.png" alt="Avatar">
      </a>
    </div>

    <div>
      <span class="title">Hey! I'm Elad</span>
    </div>

    <div>
      <p class="tagline">
        coder, music producer-arranger, new media artist, entrepreneur
      </p>
    </div>

    <div class="navigation">
      <div class="category-list">
        {{ range $key, $value := .Site.Taxonomies.categories }}
          <li><a href="{{ $baseUrl }}categories/{{ $key | urlize  }}">/{{ $key | humanize | lower}}</a></li>
        {{ end }}
      </div>

      <div class="tags-list">
        {{ range $key, $value := .Site.Taxonomies.tags }}
          <li><a href="{{ $baseUrl }}tags/{{ $key | urlize  }}">#{{ $key | lower }}</a></li>
        {{ end }}
      </div>    
    </div>
  </div>
</div>

<script type="text/javascript">
var kkk = function () {
  var scaleToFill = function() {

    console.log("in scaleToFill");

    var sidebar = document.getElementsByClassName("sidebar")[0];

    var $video = document.getElementById("video-background"),
      videoRatio = $video.videoWidth / $video.videoHeight,
      tagRatio = sidebar.offsetWidth / sidebar.offsetHeight,
      val;
          
    if (videoRatio <= tagRatio) {
       val = tagRatio / videoRatio * 1.02;
    } else if (tagRatio < videoRatio) {
       val = videoRatio / tagRatio * 1.02;
    }

    $video.style.transform = `scale(1,${val})`;
  };
    
  var video = document.getElementById("video-background");
  video.onloadeddata = scaleToFill;
  window.onresize = scaleToFill;
};

kkk();


</script>