{{- define "main" }}

  {{ $baseUrl := .Site.BaseURL }}

  <article>

    <div class="row">
      <div class="col-xs-12 col-md-2">
        <a href="{{ $baseUrl }}">
          <img class="avatar" src="{{ $baseUrl }}img/avatar.png" alt="Avatar">
        </a>
      </div>

      <div class="col-xs-12 col-md-10">
        <div class="short-bio">
          <b><span style="font-size: 28px;">Elad Gariany</span></b>,

          <span>
            I write <span>Code</span> compose <span>Music</span> and <span>Share my thoughts</span> on this site. Get my CV and hire me <a href="/about">over here!</a>
          </span>

          <span>
            Some of the projects I'm working on <a href="https://www.sound.camp">SoundCAMP</a>, <a href="https://www.therabbitholeorchestra.com">The Rabbit Hole Orchestra</a> music band and my dev workshop <a href="http://rebelsmind.com">Rebels Mind</a>.
          </span>
          </p>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs">

      <hr>

      <span style="font-size: 26px; font-weight: 600;">Recent Posts</span>

        {{ range .Data.Pages.GroupByDate "2006" -}}
        <ul class="posts-list">

          <div class="posts-title site-date-catalog">{{ .Key }}</div>

            {{ range .Pages -}}

              {{ if not .Params.static }}

              <li class="posts-list-item">
                >
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <div>
                  <span class="posts-list-item-description">
                    Published at: {{ .PublishDate.Format "Jan 2, 2006" }}
                    {{ .ReadingTime }} min read

                    {{ if isset .Params "tags" }}

                      posted under:

                      {{ range $key, $value := .Params.tags }}
                        <a class="posts-list-tags" href="{{ $baseUrl }}tags/{{ . }}">#{{ $value | humanize }}</a>
                      {{ end }}

                    {{ end }}
                  </span>
                </div>
              </li>
              {{ end }}
            {{ end }}
        </ul>
        {{ end }}

    </div>
  </article>

{{- end }}