{{ $baseUrl := .Site.BaseURL }}

<div class="row">
  <div style="margin-bottom: 3em; margin-top: 3em;">
    <div class="row center-xs">
      <div class="col-xs-6">
        <div class="box">
          <a href="{{ $baseUrl }}"><img class="avatar" src="{{ $baseUrl }}img/avatar.png" alt="Avatar"></a>
        </div>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="box">
          <span style="font-size: 28px;">Elad Gariany</span>
        </div>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="box">
          <span>I'm an Artist, Coder & Music composer. <a href="/contact/index.html">Get in touch!</a></span>
        </div>
      </div>
    </div>
  </div>
</div>