{{ $baseUrl := .Site.BaseURL }}

<div class="row" style="display: flex;justify-content: center;border-bottom: 2px dotted #ddd;">
  <div style="padding-bottom: 3em; padding-top: 3em;">
    <div class="row center-xs bio-wrapper">
      <div class="">
        <div class="box">
          <a href="{{ $baseUrl }}/about/index.html"><img class="avatar" src="{{ $baseUrl }}img/avatar.png" alt="Avatar"></a>
        </div>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="box bio_title">
          <span>Elad Gariany</span>
        </div>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="box bio_description">
          <span>I'm an Artist, Coder & Music composer. I create every day and use this space to share it. </span><br><br>
          <a href="/about/index.html">About Me</a>
        </div>
      </div>
    </div>
  </div>
</div>