{{ $baseUrl := .Site.BaseURL }}

<div class="current_projects_wrapper">
  <div class="current_projects_title">
    <span class="project_title">My Current Projects</span>
  </div>

  <div class="row current_projects_images">
    <div class="center-xs">
      <a href="https://polyversemusic.com"><img src="{{ $baseUrl }}img/polyversemusic.png"></a>
    </div>
    <div class="center-xs">
      <a href="http://www.sound.camp"><img src="{{ $baseUrl }}img/soundcamp.png"></a>
    </div>
    <div class="center-xs">
      <a href="http://www.therabbitholeorchestra.com"><img src="{{ $baseUrl }}img/rho.png"></a>
    </div>
  </div>
</div>