{{ $baseUrl := .Site.BaseURL }}

<div class="row" style="padding-top: 10%;">
  <div class="col-xs" style="display: flex;justify-content: center;flex-wrap: wrap;">

    <span class="recentPost_title" style="width: 100%;">Recent Posts</span>

      {{ range .Data.Pages.GroupByDate "2006" -}}
      <ul class="posts-list">

        <div class="posts-title site-date-catalog">{{ .Key }}</div>

          {{ range .Pages -}}

            {{ if not .Params.is_site_static_page }}

              {{ partial "list/item.html" . }}

            {{ end }}
          {{ end }}
      </ul>
      {{ end }}

  </div>
</div>